extends layout
block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    h1= title
    h2 Ik heb last van kauwgom op de grond.
    div#keuze
        p#ja ja
        p#nee nee
        img(src='images/qr.png')

    script(src='javascripts/jquery.js')
    script(src='javascripts/script.js')